/ArchivosAdjuntos.class
/Auditoria.class
/Categorias.class
/Defectos.class
/Estados.class
/HistoricoEstados.class
/Impactos.class
/MotivoResolucion.class
/Prioridades.class
/Proyectos.class
/Reportes.class
/RolUsuarios.class
/Urgencias.class
/Usuarios.class
