.tableAdm{
	text-align: center;
	width: 80%;
}
.tableAdm thead .ui-state-default{
	background: none;
	background-color: #0971B2 !important;
	color : #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
}
.tableAdm .ui-datatable-header{
	margin-bottom: 1%;
	background: none;
	background-color:  #0971B2 !important;
}
.tableAdm #titleTable{
	float: left;	
	color: #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
	text-decoration:none;
	text-transform:uppercase;
	margin-left: 5% !important;
	margin-top: 0.5% !important;
}
.tableAdm .ui-outputpanel {
	background-color:  #0971B2 !important;
}
.tableAdm .filtroAdm{
	margin-left: 50%;
	color: #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
}

.tableAdm .filtroAdm input{
	margin-left: 5% !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
}
.admDialog .ui-dialog-titlebar{
	background: none;
	background-color: #0971B2 !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
}
.admDialog td,.admDialog tr{
	border:none !important;
}

.admDialog table tbody{
	background-color: #0971B2 !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
}
.admDialog table tfoot{
	margin-top: 20% !important;
	text-align: right !important;
}
.admDialog table tfoot .ui-widget-header{
	background: none !important;
}
.admDialog table tfoot .ui-widget-header .ui-button{
	margin-top: 4% !important;
	margin-right: 2% !important;
	width : 20% !important;
	background: none;
	background-color: #0971B2 !important;
}
#formularioReport table input{
	background: #FFF !important;
}