.results{
	text-align: center;
	width: 80%;
}
.results thead .ui-state-default{
	background: none;
	background-color: #0971B2 !important;
	color : #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
}
.results .ui-datatable-header{
	background: none;
	background-color:  #FF5B00 !important;
}
.results #titleTable{
	float: left;	
	color: #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
	text-decoration:none;
	text-transform:uppercase;
	margin-left: 5% !important;
	margin-top: 0.5% !important;	
}
.results .ui-datatable-data{
	font-size: 12px !important;
}
.results .ui-datatable-data input{
	font-weight: normal !important;
	width: 60%;
}
.results .ui-outputpanel {
	background-color:  #FF5B00 !important;
}
.results .filtroDefectos{
	margin-left: 50%;
	color: #FFF !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
}

.results .filtroDefectos input{
	margin-left: 5% !important;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
	width : 40% !important;
	font-weight: normal !important;
}

#formBusqueda ul{
  list-style-type: none;
  text-align: center;
	color: #000;
	font-family: Helvetica,sans-serif !important;
	width: 50%
}

#formBusqueda li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}
#formBusqueda li span{
	font-family: Helvetica,sans-serif !important;
	font-size: 13px !important;
	margin-right: 1% !important;
	font-weight: 600;
}
#formBusqueda li select{
	text-align: center !important;
	margin-right: 1% !important;
}
#formBusqueda .span{
	font-family: Helvetica,sans-serif !important;
	font-size: 16px !important;
}
#formBusqueda .stringBusqueda{
	font-family: Helvetica,sans-serif !important;
	font-size: 16px !important;
	font-weight: bold;