#formBusqueda{
	text-align: center;
	width: 95%;
	font-size: 90%;
}
#formBusqueda .ui-datatable-header{
	margin-bottom: 1%;
}
#formBusqueda #titleTable{
	float: left;
	
}
#formBusqueda .ui-outputpanel {
	background-color:  inherit;	
}
#formBusqueda .ui-panel-titlebar {
	background-color: #3F59FF !important;
}
#formBusqueda .ui-inputfield {
 	width:75px;
	color: black !important;
}

.panelgrid.ui-panelgrid>*>tr, .panelgrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
#botones{
	float: right;
}
.ui-panelgrid-footer button.ui-widget{
	background-color: #3F59FF !important;
	color: #FFF !important;
}

/*estilo de los nombres de las columnas*/
th {
	background-color: #3F59FF !important;
  color: black !important;
	border:disabled !important;
}
/*estilo contenido de tablas*/
#formBusqueda .ui-widget-content{
	border: none !important;
	color: black;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 90%;
}
.ui-datatable-header{
	background-color: white !important; /*#333 tipo gris 000A6F azul #03C*/ 
	/*color: # !important;*/
	border: none !important;
}
.ui-datatable-header .ui-outputpanel{
	text-align: right !important;
}
.ui-datatable-header div#titleTable{
	text-align: left !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.ui-datatable-footer{
	background-color: #3F59FF !important;
}
.ui-datatable thead th,
.ui-datatable tbody,
.ui-datatable tbody tr,
.ui-datatable tbody td {
    border: none !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none !important;
}
.ui-paginator{
	background-color: white !important;
}


#formBusqueda ul{
  list-style-type: none;
  text-align: center;
	color: #000;
	font-family: Arial,Helvetica,sans-serif !important;
	font-size: 90%;
}
#formBusqueda li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
} 