.panelgrid.ui-panelgrid>*>tr, .panelgrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-panelgrid-footer button.ui-widget{
	background-color: #3F59FF !important;
	color: #FFF !important;
	background: none;
}

.ui-fileupload-buttonbar span, .ui-fileupload-buttonbar button{
	background-color:  lightblue;
	color: black;
}
.ui-fileupload .ui-fileupload-buttonbar{
	background-color: #D4D4D4 !important;
}

.formDefecto input[type="file"]{
	transform: none;
}

.formDefecto label{
	font-family: Helvetica,sans-serif !important;
	font-size: 15px !important;
	float: left;
	position: relative;
	text-align: right;
	width: 90%;
}
.formDefecto select{
	font-family: Helvetica,sans-serif !important;
	text-align: center ;
	font-size: 15px !important;
	text-decoration:none;
	max-width: 50%;
	width: 100%;
}
.formDefecto input, .formDefecto textarea{
	font-family: Helvetica !important;
	font-size: 15px !important;
	text-decoration:none;
	width: 100%;
}
.ui-dialog .ui-widget-header {
	background : none;
}
.formDefecto table tfoot{
	text-align: right !important;
}
.formDefecto table tfoot .ui-widget-header button{
	margin-right: 2% !important;
	margin-top: 1% !important;
	background: none;
	background-color: #0971B2 !important;
}