/* ESTILOS CONTENT BODY*/
/*#contentBody .ui-widget{
  	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFEEE;
}*/

.panelgrid.ui-panelgrid>*>tr, .panelgrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-panelgrid-footer button.ui-widget{
	background-color: #3F59FF !important;
	color: #FFF !important;
}
#dialogAdm label{
	float: left;
	position: relative;
	text-align: right;
	width: 130px;
}
.ui-fileupload-buttonbar span, .ui-fileupload-buttonbar button{
	background-color:  lightblue;
	color: black;
}

.formDefecto input[type="file"]{
	transform: none;
}

.formDefecto label{
	font-family: Helvetica,sans-serif !important;
	font-size: 15px !important;
}

.formDefecto label{
	font-family: Helvetica,sans-serif !important;
	font-size: 15px !important;
	float: left;
	position: relative;
	text-align: right;
	width: 90%;
}
.formDefecto select{
	font-family: Helvetica,sans-serif !important;
	text-align: center ;
	font-size: 15px !important;
	text-decoration:none;
	max-width: 50%;
	width: 100%;
}
.formDefecto input, .formDefecto textarea{
	font-family: Helvetica !important;
	font-size: 15px !important;
	text-decoration:none;
	width: 100%;
}