#formulario{
	width: 50% !important;
	margin-left: 25%;
    margin-top: 5%;
}
#contentBody .ui-widget{
  	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #FFF;
}
#formulario label{
	float: right;
	position: relative;
}
#formulario span{
	float: left;
	font-weight: bold;
}
#formulario .ui-panel-titlebar{
	background-color: white;
	border: none;
}