#formulario{
	width: 35% !important;
	margin-left: 25%;
  margin-top: 5%;
	border:solid 1px #BFBDBD;
}
#formulario label{
	float: right;
	position: relative;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
}
#formulario .ui-panel-content span{
	float: left;
	font-weight: bold;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
}
#formulario .ui-panel-titlebar{
	background-color: white;
	border: none;
	font-family: Helvetica, sans-serif !important;
	font-size: 16px !important;
}