/* ESTILOS HEADER */
#header {
	background-image: url(/sgdbex/images/header_bg_01.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: center 0px !important;
	height: 110px !important;
	width: 100% !important;
	min-width: 960px !important;
	text-align: center !important;
	font-size: 11px !important;
	position: fixed !important;
	z-index: 100 !important;
	left: 0px !important;
	top: 0px !important;
}

#contentBody .ui-layout-unit-content.ui-widget-content {
	/*width: 1024px !important;*/
	width: 1200px !important;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: left !important;
}
.ui-layout-north {
    z-index:40 !important;
    overflow:visible !important;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-selectonemenu-panel {
	z-index:101 !important;
	overflow:visible !important;
	width: 155px !important;
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
}
#header .ui-layout-unit-content.ui-widget-content {
	/*width: 1024px !important;*/
	width: 1200px !important;
	margin-right: auto !important;
	margin-left: auto !important;
	text-align: left !important;
	background: inherit !important;
}
#header div.logo {
	float: left;
	margin-top: 10px;
}
#header div.tools {
	float: right;
	width: 660px;
}

/*NAVEGACION*/
#nav {
	clear: both;
	height: 27px;
	/*width: 1024px !important;*/
	width: 1200px !important;
	padding-top: 10px;
}
#buscar{
	/*float: left;*/
	margin-right: 10px;
    float: right;	
}
/*-------------------------------------------------------------*/
.disableWin{
     pointer-events: none;
}
/*-------------------------------------------------------------*/
html, body {
    height:100%
}
#nav .ui-menu-list .ui-widget-content {
    min-width:95%;
}