/* ESTILOS CONTENT BODY*/
.wrapPrincipal {
    display: inline-block;
    float: left;
    color: #FFF;
    width:96%;
    height: auto;
	font-family: Helvetica, sans-serif !important;
	font-size: 12px !important;
	text-decoration:none;
	
}
.titlePrincipal{
	margin-left: 5%;
	margin-top: 0%;
	font-family: Helvetica, sans-serif !important;
	font-size: 14px !important;
	text-decoration:none;
}

.col1, .col2 {
    margin-left: 1%;
    width: 48%;
    background: #FFF none repeat scroll 0% 0%;
	border : none;
	text-align: center;
	font-size: 90%;
}
.row1 {
    margin-top:1%;
    height: auto;
    background: #FFF none repeat scroll 0% 0%;
		
 }
.row2 {
    margin-top:1%;
    height: auto;
    background: #FFF none repeat scroll 0% 0%;

}
.row1 .ui-corner-top, .row2 .ui-corner-top{
	background: none !important;
}
.row1 form, .row2 form{
	border: 1px solid gray;
}
.row1 table thead, .row2 table thead{
	border: 1px solid gray;
}
.row2 table thead span,.row1 table thead span{
	color : #FFF !important;
}
.row2 table thead th,.row1 table thead th{
	background: none !important;
	background-color: #0971B2 !important;
}
.row1 div label, .row2 div label{
	float: left;
	margin-top: 1%;
}

.row1 .ui-datatable-header .ui-outputpanel, .row2 .ui-datatable-header .ui-outputpanel{
	text-align: right !important;
}

#contentBody .ui-datatable thead th,
#contentBody .ui-datatable tbody,
#contentBody .ui-datatable tbody tr,
#contentBody .ui-datatable tbody td {
    border: none !important;
}

#contentBody .ui-paginator{
	background-color: white !important;
}